# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Mips assembled files
*.x

# Vim backup files
*.swp

# Any log type files
*.log
log.txt

# Latex build files
*.aux
*.pdf
*.ps
*.pyg
*.synctex.gz
*.dvi

# Executable created by Makefile
snake_test
