# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Mips assembled files
*.x

# Backup files
*.swp
*.bak

# Any log type files
*.log
log.txt

# Latex build files
*.aux
*.ps
*.pyg
*.synctex.gz
*.dvi

# Generated documentation files
design.pdf
report.pdf

# Executable created by Makefile
snake_test

# Name of the Freescale project
snake
